@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Tapestry&display=swap');
/* font-family: 'Klee One', cursive;
font-family: 'Tapestry', cursive; */

*::-webkit-scrollbar {
    display:none;
}

*{
    font-family: 'Klee One', cursive;
}

span{
    font-family: 'Tapestry', cursive !important;
    
    
}

.bg-image{
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
}

.secao{
    margin: 0;
    height: 100vh;
    padding-top: 92px;
    padding-bottom: 16px;
}
.scrollspy-format{
    position: relative;
    height: 100vh;
    margin-top: 0.5rem;
    overflow: scroll;
    overflow-y:scroll;
}
.active{
    font-weight: 600 !important;
}

.navbar{
    max-height:60px ;
}


#image-intro{

     background-image: url('../img/inicioBackground2.jpg');
}

#profile{
    background-image: url('../img/profile.png');
    height: 70vh;
    max-width: 65vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#logo-nav{
    height: 50px;
}

#logo-offcanvas{
    height: 70px
}






